body {
    /*background-image: url(/images/pexels-luis-del-río-15286.jpg);*/
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

ol, ul {
margin-top: 0;
margin-bottom: 0;
}
.wrapper {

    background-color: 		#FFEFD5;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    
}

 /* main content */

.main-content {

    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;

}

/* sidebar */
.sidebar {

    background: 	coral;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 380px;

}
.sidebar-content {

    padding-left: 12px;
    padding-top: 40px;
    padding-right: 12px;
    box-sizing: border-box;

}

/* contacts */

.contacts-title {

    color: #161D2A;
    font-size: 30px;
    font-weight:600;
    line-height: normal;
    margin-top: 0; 
    margin-bottom: 20px;

}

.contacts-type {

    color: #161D2A;
font-size: 25px;
font-weight: 400;
line-height: 22px; 
margin-right: 8px;

}

.contacts-link {

    color: 			#161D2A;
font-size: 20px;
font-weight: 700;
line-height: 22px;
text-decoration-line: none;

}

.contacts-item {

    margin-top: 0;
    margin-bottom: 16px;

}

.contacts-container {

    margin-bottom: 60px;

}

/* skills conteiner */


.skills-container {
    margin-bottom: 60px;

}



.skills-title {

    color: #161D2A;
    font-size:30px;
    font-weight: 600;
    line-height: normal; 
    margin-top: 0;
    margin-bottom: 20px;

}

.skills-list {

    padding-left: 20px;
    
}

 .skills-list-item {

    color: #161D2A;
    font-size: 22px;
    font-weight:550;
    line-height: 30px; 
 }

.ss-box {
margin-bottom: 60px;

}

.ss-title {
    color: #161D2A;
font-size: 30px;
font-weight: 600;
line-height: normal;
margin-top: 0;
margin-bottom: 20px;

}

.ss-list {
    padding-left: 16px;
}

.ss-list-item {
    color: #161D2A;
font-size: 22px;
font-weight: 550;
line-height: 30px; 

}

/* my content */

.my-proffesion {
    color:coral;
    font-size: 30px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 20px; 

}

.my-name {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px; 
    margin-top: 0;
    margin-bottom: 12px;
}

.my-descr {
    color: #595959;
    font-size: 20px;
    font-weight: 550;
    line-height: 24px; 

}

.my-info {
    margin-bottom: 40px;
}

/* my projects */

.my-projects-title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px; 
    margin-top: 0;
    margin-bottom: 16px;

}

.my-projects-item {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px; 

}

.my-projects-list {
padding-left: 16px;

}

.my-projects-item-link {
    color:	#4B0082;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration-line: underline;

}

.my-projects-item-tech {
    color: 	#20B2AA;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}

.my-projects-container {
    margin-bottom: 40px;
}
 /* work experience */

 .work-expierence-title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px; 
    margin-top: 0;
    margin-bottom: 20px;

 }

 .work-expierence-company {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px; 
    margin-top: 0;
    margin-bottom: 16px;

 }

 .company-name {
    color:coral;
    
 }

 .work-expierence-period {
    color: rgb(33, 51, 69);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 16px;
 }
 .work-expierence-period-separator {
    color: #000;

 }
.work-expierence-duties-list {
    padding-left: 16px;
}

.work-expierence-duties-item {
    color: rgb(33, 51, 69);
    font-size: 20px;
    font-weight: 550;
    line-height: 28px; 
}
.work-expierence-container {
    margin-bottom: 18px;
}
.education-title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px; 
}
.education-place {
    color: coral;
font-size: 25px;
font-weight: 700;
line-height: 40px;
}
.education-specialty {
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: 25px;
}
.education-place-period {
    color: rgb(33, 51, 69);
font-size: 18px;
font-weight: 500;
line-height: 18px;
}
.education-place-period-separator {
    color: #000;
}
.rodo {
    margin-top: 60px;
    color:  #000;
font-size: 22px;
font-weight: 600;
line-height: 25px;
}


 

